<div class="row">
  <div class="col s12">
    <h2>Auflistung aller Seiteninhalte</h2>
  </div>
</div>

<% @page_contents.each do |content| %>
  <p> Content: <%= content.content %> </p>
  <p> Page: <%= content.page %></p>
<% end %>
