.cookie-banner{style: "display: none;"}
  %p
    Unsere Webseite verwendet Cookies nach dem Einloggen in den Adminbereich. Sie stimmen diesen Bedingungen zu.
    Wenn Sie dies nicht möchten, blocken Sie bitte über Ihre Browsereinstellungen das Speichern von Cookies oder verwenden ein Privates Browser Fenster, Danke!
    Sie können #{link_to 'hier', 'https://cookie-script.com/cookie-scanner'} nach den Cookies scannen, die diese Webseite verwendet.
    Weitere Information können sie unserem #{link_to 'Impressum', imprint_path} und #{link_to 'Datenschutzrichtlinien', imprint_path} entnehmen.
  %button.close
    &times;
