%footer.page-footer
  .footer-copyright
    .container
      = link_to '© 2021 theresamannschatz.design', 'https://theresamannschatz.design', class: "grey-text text-lighten-4 left"
      = link_to 'Impressum', imprint_path, class: "grey-text text-lighten-4 right"
