<div class="row">
  <div class="col s6">
    <%= media_manipulation_helper(media: @contact, section_name: 'contact') %>
  </div>
  <div class="col s6">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.319817781448366%2C52.48145872916354%2C13.322886228561401%2C52.48262340917277&amp;layer=mapnik&amp;marker=52.482042373764386%2C13.321351774011418" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.48204&amp;mlon=13.32135#map=19/52.48204/13.32135">Größere Karte anzeigen</a></small>
  <div>
</div>
