.container
  .row.card
    .col.s12.m6.l4
      = image_tag 'home', class: "materialboxed responsive-img card"
    .col.s12.m6.l4
      = image_tag 'home', class: "materialboxed responsive-img card"
    .col.s12.m6.l4
      = image_tag 'home', class: "materialboxed responsive-img card"
    .col.s12.m6.l4
      = image_tag 'home', class: "materialboxed responsive-img card"
