@import 'materialize-css/dist/css/materialize';
@import '@fortawesome/fontawesome-free';

html {
  // background-color: #bebef8; /* original: #bebef8; new: #7C87FD*/
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

.main-content {
  margin-top: 2em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

/*********************/
/*** Cookie banner ***/
/*********************/

.cookie-banner {
  position: fixed;
  bottom: 40px;
  width: 100%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

/**************/
/*** NavBar ***/
/**************/

nav {
  background-color: #7c87fd !important;
  color: black !important;
}

.horizontal-space {
  margin-left: 5em;
}

#brand-logo-image {
  max-height: 56px;
  padding: 5px 0;
}

/************************/
/*** Fix sidenav menu */
/**********************/

#fixed-navbar {
  z-index: 998;
}

/***********************************/
/*** Home page garden hero image ***/
/***********************************/

section {
  position: relative;
  width: 100%;
  height: 95vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: image-url('/background/garden-scene/garden-scene-fallback.jpg');
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#tree-left {
  z-index: 2;
}

#butterfly-green-left {
  z-index: 5;
}

#bushes-layer4 {
  z-index: 3;
}

#hand1, #hand2, #hand3, #hand4 {
  z-index: 6;
  position: absolute;
  top: 20vh;
}

#ball {
  z-index: 6;
  position: absolute;
  top: -10vh;
}

#bushes-front-layer1 {
  z-index: 100;
}

#kila-text {
  position: absolute;
  vertical-align: center;
  color: white;
  text-shadow: 1px 2px black;
  white-space: nowrap;
  font-size: 13vw;
  z-index: 4;
}

#welcome-text {
  width: 80vw;
  position: absolute;
  color: rgba(255,255,255,1);
  text-shadow: 1px 1px gray;
  white-space: nowrap;
  font-size: 12vw;
  z-index: 1;
  top: 25vh;
  font-family: 'Caveat', cursive;
}

/******/
.section-background-color {
  background-color: #f0f1ff;
}

.home-page-images {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
  img {
    max-width: 49%;
  }
}

/*******************************/
/*** Imprint *******************/
/*******************************/

section.imprint-hero-animation {
  height: 95vh;
  overflow: hidden;
  width: auto;
}

.parallax {
  position: absolute;
  width: 100%;
  height: 95vh;
  background: #252c5a;
  overflow: hidden;
}

.parallax #scene .layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 95vh;
  width: 100%;
  overflow: hidden;
}

.parallax #scene .layer img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  overflow: hidden;
}

#main-text {
  position: relative;
  color: white;
  font-size: 13vw;
  top: 40vh;
  left: 20vw;
}

#imprint-welcome-text {
  position: relative;
  color: rgba(255,255,255,0.7);
  font-size: 4vw;
  z-index: 3;
  top: 30vh;
  left: 10vw;
}

#rocket {
  animation: x-axis 32s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}

#rocket-wrapper {
  animation: y-axis 8s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64)
}

@keyframes y-axis {
  50% {
    animation-timing-function: cubic-bezier(0.17, 0.5, 0.6, 0.4);
    transform: translateY(10vh);
  }
}

@keyframes x-axis {
  50% {
    animation-timing-function: cubic-bezier(0.17, 0.5, 0.6, 0.4);
    transform: translateX(60vw);
  }
}


/*********************/
/* About us section */
/********************/

#about_us_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-team {
  position: relative;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
  height: 100%;
}

.background-team img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

#team-link {
  border-radius: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
}

.wrapper {
  height: 300px;
  padding: 0 !important;
}


/************************/
/** Daily life section **/
/************************/

.daily-life-images-wrapper {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  justify-content: space-between;
  align-items: space-between;
  .daily-life-example-image {
    max-width: 100%;
    margin-top: 1em;
    height: auto;
  }
}

/*********************************/
/** Room plan section ************/
/*********************************/

/*thats the parent div which holds the sub elements with absolute positions */
.room-plan-animated {
  position: relative;
  top: 0;
  left: 0;
}

#room-plan {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 15%;
}

/* general room plan icon style */
.camera-icon {
  position: absolute;
  color: #7c87fd;
  font-size: 1.5em;
  z-index: 10;
}

/* general room plan detail photo style */
.detail-photo {
  position: absolute;
  max-width: 17vw;
}

/***********************/
/* general start image */
/**********************/

/* photo will be overlayed by other detail photos */
#children-playing-in-garden-detail-photo {
  top: 34%;
  left: 0;
  opacity: 1;
}

/************/
/* kitchen */
/************/

/* kitchen room plan icon and photo */
#kitchen-icon {
  left: 44%;
  top: 38%;
}

/*hovering over the icon will change it to red */
#kitchen-icon:hover {
  color: red;
}

#kitchen-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the kitchen image */
#kitchen-icon:hover + img {
  opacity: 1;
}

/****************/
/* house entry */
/***************/

/* house-entry room plan icon and photo */
#house-entry-icon {
  left: 49%;
  top: 57%;
}

/*hovering over the icon will change it to red */
#house-entry-icon:hover {
  color: red;
}

#house-entry-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the house-entry image */
#house-entry-icon:hover + img {
  opacity: 1;
}

/************/
/* wardrobe */
/************/

/* wardrobe room plan icon and photo */
#wardrobe-icon {
  left: 50%;
  top: 15%;
}

/*hovering over the icon will change it to red */
#wardrobe-icon:hover {
  color: red;
}

#wardrobe-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the wardrobe image */
#wardrobe-icon:hover + img {
  opacity: 1;
}

/************/
/* eating-room */
/************/

/* eating-room room plan icon and photo */
#eating-room-icon {
  left: 60%;
  top: 15%;
}

/*hovering over the icon will change it to red */
#eating-room-icon:hover {
  color: red;
}

#eating-room-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the eating-room image */
#eating-room-icon:hover + img {
  opacity: 1;
}

/************/
/* arts-room */
/************/

/* arts-room room plan icon and photo */
#arts-room-icon {
  left: 60%;
  top: 35%;
}

/*hovering over the icon will change it to red */
#arts-room-icon:hover {
  color: red;
}

#arts-room-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the arts-room image */
#arts-room-icon:hover + img {
  opacity: 1;
}

/*****************/
/* relaxing-room */
/*****************/

/* relaxing-room room plan icon and photo */
#relaxing-room-icon {
  left: 60%;
  top: 50%;
}

/*hovering over the icon will change it to red */
#relaxing-room-icon:hover {
  color: red;
}

#relaxing-room-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the relaxing-room image */
#relaxing-room-icon:hover + img {
  opacity: 1;
}

/*****************/
/* garden ********/
/*****************/

/* garden room plan icon and photo */
#garden-icon {
  left: 80%;
  top: 30%;
}

/*hovering over the icon will change it to red */
#garden-icon:hover {
  color: red;
}

#garden-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the garden image */
#garden-icon:hover + img {
  opacity: 1;
}


/*****************/
/* werkstatt ********/
/*****************/

/* werkstatt room plan icon and photo */
#werkstatt-icon {
  left: 75%;
  top: 40%;
}

/*hovering over the icon will change it to red */
#werkstatt-icon:hover {
  color: red;
}

#werkstatt-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the werkstatt image */
#werkstatt-icon:hover + img {
  opacity: 1;
}

/**********************/
/* playing-room ********/
/**********************/

/* playing-room room plan icon and photo */
#playing-room-icon {
  left: 30%;
  top: 20%;
}

/*hovering over the icon will change it to red */
#playing-room-icon:hover {
  color: red;
}

#playing-room-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the playing-room image */
#playing-room-icon:hover + img {
  opacity: 1;
}

/**********************/
/* tobe-room ********/
/**********************/

/* tobe-room room plan icon and photo */
#tobe-room-icon {
  left: 20%;
  top: 20%;
}

/*hovering over the icon will change it to red */
#tobe-room-icon:hover {
  color: red;
}

#tobe-room-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the tobe-room image */
#tobe-room-icon:hover + img {
  opacity: 1;
}

/**********************/
/* sleeping-room ********/
/**********************/

/* sleeping-room room plan icon and photo */
#sleeping-room-icon {
  left: 10%;
  top: 10%;
}

/*hovering over the icon will change it to red */
#sleeping-room-icon:hover {
  color: red;
}

#sleeping-room-detail-photo {
  top: 34%;
  left: 0;
  /* don't show the image initially */
  opacity: 0;
  transition: opacity .5s ease;
}

/* hovering over icon shows the sleeping-room image */
#sleeping-room-icon:hover + img {
  opacity: 1;
}

/******************/
/** Contact page */
/******************/

// responsive iframes
.iframe-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**************************/
/*** Footer ***************/
/**************************/

footer {
  background-color: #7c87fd !important;
  color: black !important;
}

footer .footer-address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/***********************/
/*** Responsiveness *****/
/***********************/

@media only screen and (min-width: 600px) {
  /* For desktop: */

  section.imprint-hero-animation {
    height: 95vh;
    overflow: hidden;
    width: 100%;
  }

  .parallax #scene .layer img {
    width: 100%;
  }

  #kila-text {
    position: absolute;
    white-space: nowrap;
    font-size: 7.5em;
    left: 20vw;
    top: 30vh;
  }

  #welcome-text {
    position: absolute;
    white-space: nowrap;
    font-size: 5.5em;
    left: 30vw;
    top: 15vh;
  }

  #main-text {
    position: relative;
    color: white;
    font-size: 10vw;
  }

  #imprint-welcome-text {
    font-size: 3vw;
    z-index: 3;
    top: 25vh;
    left: 15vw;
  }

  #about_us_section {
    flex-direction: row;
  }

  .home-page-images {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    img {
      max-width: 100%;
      height: auto;
      margin: 0.5em 0;
    }
  }

  .daily-life-images-wrapper {
    flex-flow: row;
    overflow: hidden;
    width: 100%;
    .daily-life-example-image {
      max-width: 32%;
    }
  }

  footer .footer-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

@-ms-viewport{
    width: device-width;
}
