@import 'materialize-css/dist/css/materialize';

html {
  background-color: rgba(190,190,248,1); /* #bebef8 */
}

h2 {
  font-size: 1.5em;
}

.main-content {
  margin-top: 2em;
}

/**************/
/*** NavBar ***/
/**************/

nav {
  background-color: rgba(200,190,250,1) !important;
  color: black !important;
}

.horizontal-space {
  margin-left: 5em;
}

/**************/
/*** Footer ***/
/**************/
footer {
  background-color: rgba(200,190,250,1) !important;
  color: black !important;
}
