@import 'materialize-css/dist/css/materialize';

html {
  background-color: rgba(190,190,248,1); /* #bebef8 */
}

h2 {
  font-size: 1.5em;
}

.main-content {
  margin-top: 2em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

/**************/
/*** NavBar ***/
/**************/

nav {
  background-color: rgba(200,190,250,1) !important;
  color: black !important;
}

.horizontal-space {
  margin-left: 5em;
}

/******/
/*** Fix sidenav menu */

#fixed-navbar {
  z-index: 998;
}

/***************************/
/*** Main page hero image ***/
/**************************/

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background: #252c5a;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#rocket {
  z-index: 1;
}

#kila-text {
  position: absolute;
  vertical-align: center;
  color: white;
  white-space: nowrap;
  font-size: 7.5rem;
  z-index: 99;
}

#welcome-text {
  position: absolute;
  color: rgba(255,255,255,0.7);
  white-space: nowrap;
  font-size: 5.5rem;
  z-index: 3;
  top: 30vh;
}



/**************/
/*** Footer ***/
/**************/
footer {
  background-color: rgba(200,190,250,1) !important;
  color: black !important;
}
